{% extends 'discography/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2 style="text-align:center;">{{ album.first.artist }} - {{ album.first.year }}</h2>

<table>
    <tbody>
    <tr>
        <td style="vertical-align: top;"><img src="{{ album.first.photo.url }}" alt="cover" width="350px">
        </td>
        </td>
        <td style="vertical-align: top;">
            {% for track in tracklist %}
            <ol>{{ forloop.counter }}.  {{ track }} - {{ track.duration }}</ol>
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}

