{% extends 'discography/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2 style="text-align:center;">{{ album.first.title}} - {{ album.first.year }}</h2>

<table>
    <tbody>
    <tr>
        <td style="vertical-align: top;"><img src="{{ album.first.photo.url }}" alt="cover" height="350px">

            <form action="{% url 'album_update' album.first.slug %}">
                <input type="submit" value="Обновить Альбом"/>
            </form>
            <form action="{% url 'album_delete' album.first.slug %}">
                <input type="submit" value="Удалить альбом"/>
            </form>

        </td>

        <td style="vertical-align: top;">
            {% for track in tracklist %}
            <ol>{{ forloop.counter }}. {{ track }} {{ track.duration }}</ol>
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}

