{% extends 'discography/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<p class="h1" style="text-align:center;">{{ album.get.title}}</p>

<table>
    <tbody>
    <tr>
        <td style="vertical-align: top;"><img src="{{ album.first.photo.url }} " class="rounded" alt="cover"
                                              height="350px">

            <form action="{% url 'album_update' album.first.slug %}">
                <input type="submit" value="Обновить Альбом"/>
            </form>
            <form action="{% url 'album_delete' album.first.slug %}">
                <input type="submit" value="Удалить Альбом"/>
            </form>
            <form action="{% url 'tracklist_create' %}">
                <input type="submit" value="Обновить треклист"/>
            </form>
        </td>

        <td style="vertical-align: top;">
            <strong>
                <ol>Год: {{ album.get.year }}</ol>
                <ol>Жанр: {% for i in album.get.genre.all %} {{ i }} {% endfor %}</ol>
            </strong>

            {% for track in tracklist %}
            <ol>{{ track.track_number }}. {{ track }} {{ track.duration }}</ol>
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}

