{% extends 'discography/base.html' %}

{% block title %}Добавить Альбом{% endblock %}

{% block content %}

<h2 style="text-align:center">Добавить Альбом</h2>

<div class="container" style="width: 50%">
    <form action="{% url 'album_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-outline mb-4">
            <label for="artist" class="form-label">Артист</label>
            <select name='artist' class="form-select">
                <option>
                    {% for i in form.artist %}
                    {{ i }}
                    {% endfor %}
                </option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label for="title" class="form-label">Название альбома</label>
            <input type="text" class="form-control" name="title" placeholder="Название Альбома">
        </div>

        <div class="form-outline mb-3">
            <label for="year" class="form-label">Год Релиза</label>
            <input type="text" class="form-control" name="year" placeholder="Формат: <ГГГГ>">
        </div>


        <div class="form-outline mb-3">
            <label for="genre" class="form-label">Жанр</label>
            <select name='genre' class="form-select" multiple>
                {% for i in form.genre %}
                {{ i }}
                {% endfor %}
            </select>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="photo">Обложка</label>
            <input class="form-control" type="file" name="photo" accept=".png,.jpg,.jpeg">
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>

    </form>
</div>

{% endblock %}