{% extends 'discography/base.html' %}

{% block title %}Добавить Артиста{% endblock %}

{% block content %}
<h2 style="text-align:center">Добавить Артиста</h2>

<form action="{% url 'artist_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.content.errors }}-->
<!--    {{ form.non_field_errors }}-->
    {% if form.username.errors %} {{ form.username.errors }} {% endif %}
    <table style="text-align: left;">
        {{form.as_table}}
    </table>
    <button type="submit">Добавить</button>
</form>

{% endblock %}
