{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<style>

a {
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, sans-serif;
}

header {
  background-color: #556473;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
}


article {
  float: center;
  padding: 35px;
  width: 100%;
  background-color: #dfebe6;
}

</style>

<body style="background: url({% static 'discography/images/background.gif' %}">
<header id="header">
    <table style="width:100%">
        <tr>
            <td>
                <a href="{% url 'index' %}"><img src="{% static 'discography/images/vinyl.ico' %}" width="64px"
                                                 alt="icon"></a>
            </td>
            <td style="text-align:left">
                <h2>Music Catalog</h2>
            </td>
            <td>
                <a href="{% url 'artist_list' %}">Артисты</a>
            </td>
            <td>
                <a href="{% url 'artist_create' %}">Добавить артиста</a>
            </td>
            <td>
                <a href="{% url 'album_create' %}">Добавить альбом</a>
            </td>
            <td>
                Log in
            </td>
            <td style="text-align:right">
                <form role="search" action="{% url 'search_result' %}" method="get">
                    <input name='query' type="search" placeholder="поиск артиста" aria-label="Search">
                    <button type="submit">Найти</button>
                </form>
            </td>
        </tr>
    </table>
</header>

<section>
    <article>
        {% block content %}
        {% endblock %}
    </article>
</section>

</body>
</html>

