{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'discography/css/style.css' %}" rel="stylesheet">
  <title>{% block title %} {% endblock %}</title>
</head>
<body style="background: url({% static 'discography/images/background.gif' %}">
<header id="header">
  <table>
    <tr>
      <td>
        <a href="{% url 'index' %}"><img src="{% static 'discography/images/vinyl.ico' %}" width="64px" alt="icon"></a>
      </td>
      <td>
        <h1>Music Library</h1>
      </td>
    </tr>
  </table>
</header>
<section>
  <nav>
    {% for artist in object_list %}
    <ul>
      <ol><a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a></ol>
    </ul>
    {% endfor %}
  </nav>
  <article>
    {% block content %}
    {% endblock %}
  </article>
</section>
<div style="margin-top: 100px;">
  <footer class="footer">
    <div style="text-align:center;">
      <span class="text-muted">2023 год. Учебный проект. В разработке</span>
    </div>
  </footer>
</div>
</body>
</html>


