{% extends 'discography/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container" style="align: center;">
    <div class="card text-bg-light mb-3">
        <div class="card-header"><h4>Что это?</h4></div>
        <div class="card-body">
            <p class="card-text">Тут можно посмотреть информацию об исполнителях и их альбомах.
                Добавить артиста, альбом, удалить альбом, добавить комментарий к альбому, работает поиск по имени артиста на латинице (кириллица с
                ограничением
                sqlite)</p>
        </div>
    </div>
</div>


{% endblock %}